body{
	background: #FFf;
}

#logo {
	width: 350px;
	height: 247px;
	margin: auto;
}


#logo img{
	width: 350px;
	height: 247px;
}

#caixa-login{
	background: #FFF;
	width: 450px;
	height: 300px;
	margin: -35px auto;
	border:1px solid #CCC;

	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius: 5px;
}

 #caixa-login table{
 	font:15px Arial, Helvetica, sans-serif;
 	color: #666;
 	margin: 40px 10px 10px 10px; 
}

#caixa-login h1{
 	font:15px Arial, Helvetica, sans-serif;
 	color: #666;
 	margin: 10px 0 0 0; 

 }

 #caixa-login h2{
 	font:15px Arial, Helvetica, sans-serif;
 	color: #FFF;
 	background: #900;
 	text-align: center;
 	padding: 5px;
 	float: left;
 	margin: 28px 0 10px 10px;
 	border:1px solid #CCC;

 	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius: 5px;
}

#caixa-login input{
 	font:15px Arial, Helvetica, sans-serif;
 	color: #b97a57;
 	height: 25px;
 	padding: 10px;
 	width: 400px;
 	border:1px solid #CCC;
 	
 	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius: 5px;
}

/* para o butao */
#caixa-login .input{
  	font:15px Arial, Helvetica, sans-serif;
 	color: #fff;
 	height: 40px;
 	padding: 10px;
 	width: 420px;
 	background: #b97a57;
 	cursor: pointer;
 	margin: 10px 0 0 0;
    border:1px solid #CCC;
 	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius: 5px;
}
/* Para A passagem do mause */
   #caixa-login .input:hover{
  	
 	background: #745646;

  }

