body{
	text-align:center;
	font:12px Arial, Helvetica, sans-serif;
	color:#666;
	}
#box_rodape{
	width:1000px;
	margin:50px auto;
	}
.h1{
	text-align:center;
	font:12px Arial, Helvetica, sans-serif;
	color:#666;
	}